.card {
    color: rgb(0, 0, 0);

    width: 350px;
    height: 350px;
    margin: 10px;
    text-align: center;
    font-family: arial;
    border: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.067);
}
.card-title {
    color: rgb(0, 0, 0);
}
.card-text{
    color: rgb(126, 126, 126);
    text-anchor: middle;
}
.title{
    font-size: 30px;
    color:rgb(0, 0, 0);
}
.description {
    color: grey;
    font-size: 17px;
}
.card:hover {
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.267);
}
